* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_container {
  width: 100%;
  height: 100vh;
  background-color: #455a64;
  font-family: "Black Han Sans", sans-serif;
}

#loop-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

.slider-wrap {
  width: 90%;
  margin: 0 auto;
  height: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}

.slider {
  width: 500%;
  height: 100%;
  background-color: #fff;
  display: flex;
}

.slider-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item01 {
  background-color: cadetblue;
}

.item02 {
  background-color: cornflowerblue;
}

.item03 {
  background-color: deepskyblue;
}
.item04 {
  background-color: lightseagreen;
}
.item05 {
  background-color: orangered;
}
